:root {
   #6c63ff;
  --secondary-color: rgb(255, 241, 243);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  
  --primary-color: #ad0175;
    --text-color: #180110;
  
}



h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  flex: 1;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  text-decoration: none;
  font-weight: 500;
  color: white;

}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  
}
.about-link:hover {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

button:hover {
  
  color: white;
  font-weight: 500;
}


.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.col-sm-4 {
  background: var(--secondary-color);
}

img {
  box-shadow: var(--box-shadow);
  }

  .navbar-style {
    background-color: var(--secondary-color);
  }

  